.body{
    width: 50%;
    height: 100%;
    display: block;
    margin: auto;
    flex-direction: row;
    align-content: center;
    text-align: center;
}

.informationMessage{
    font-family: monospace;
    text-align: center;
  }
