.mat-dialog-content {
    display: block;
    flex-direction: row;
    margin: auto;
  }

  .task-form{
    width: 100%;
  }

  .mat-form-field{
    display: block;
    position: relative;
    text-align: left;
  }

  .mat-radio-button {
    padding: 10px
  }

  .buttons{
    padding: 15px
  }

  .submit-button{
    float: right;
  }

  